html{
  background-color: #011936;
}
body{
  color: #5fb49c;
}
img{
  border-color: black;
  border-radius:5px;
  border-width: 5px;
}
h1{
  color: #907AD6;
  font-size: 40px;
  font-family:"helvetica";
  font-style:oblique;
}
h2{
  border-top:8px, #39bfd0;
  border-top-style: outset;
  color: teal;
  font-size: 30px;
  font-family:"helvetica",sans-serif;
  font-style:oblique;

}
div{
  padding:50px;
  margin-:100px,auto;
  margin-right:30px,auto;
}
section{
  padding:30px;

}
container {
  width:90%;
  max-width:800px;
  margin:rgb(255, 0, 0);px,auto;
}
p{
  font-family:"Arial";

}
ul{
  border-color: #c2c2c2;
  border-style: solid;
  border-radius: 8px;
  border-spacing: 10px;
  margin-right:75%;
}
