html{
  background-color: #12282B;
}
body{
  color: powderblue;
}
img{

}
h1{
  color: #907AD6;
  font-size: 25px;
  font-family:sans-serif,;
}
h2{
  color: #907AD6;
  font-size: 20px;
}
div{
}
section{
  border-bottom:solid,16px,red;
  padding:30px;
  margin:30px,auto;
}
container{
  width:90%;
  max-width:800px;
  margin:30px,auto;
}
