html{
    background-color: #011936;
}
body{
}
img{
  border-spacing:20px,auto;
  float:left;
  margin:5px,5px,5px,5px;

}
h1{
  color: #907AD6;
  font-size: 40px;
  font-family:"helvetica";
  font-style:oblique;
}
h2{
  color: #39bfd0;
  border-top:8px;
  border-top-style: outset;
  color: teal;
  font-size: 30px;
  font-family:"helvetica",sans-serif;
  font-style:oblique;

}
div{
  padding:100px;


}
section{
  border-color: #c2c2c2;
  border-style: solid;
  border-radius: 8px;
  border-spacing: 10px;
  max-width:40%;
  float:right

}
container{
  width:90%,90%;
  max-width:800px;
  margin:30px,auto;
}
p{
  color: #5fb49c;
  font-family:"calibri(bold)",sans-serif;
  max-width: 600px;
}
ul{
  color: #5fb49c;
  font-family:"calibri(bold)",sans-serif;

}

h3{
  color: powderblue;
}
h4{
  color:Orange;
  padding:5px,5px;
}
